<head>
    <link rel="stylesheet" href="/style.css">
</head>
<h2>Welcome to Pizza Shop!</h2>

<div class="row">

    <% @products.each do |product| %>
    <div class="col-md-3 item">
        <div class="item__content">
            <%= product.title %>
        </div>
        <div class="item__content">
            <img src="<%= product.path_to_image %>" alt="">    
        </div>
        <div class="item__content">
            <%= product.description %>
        </div> 
        <div class="item__content">
            <%= product.title %>
        </div>
    </div>
    <% end %>
</div>

<button class="btn btn-primary btn-lg" onclick="something()">Click me!</button>