<h2>Add New Post</h2>

<p>We will add new post here</p>
<form action="/new" method="POST">
  <textarea class="form-control" rows="6"></textarea> <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
