code/main course/Lesson20/app2/users.txt
code/main course/Lesson21/app2/public/users.txt
code/main course/Lesson22/sinatra-bootstrap-clean/public/contacts.txt
code/main course/Lesson22/sinatra-bootstrap-clean/public/users.txt
code/main course/Lesson23/public/contacts.txt
code/main course/Lesson23/public/users.txt
code/main course/Lesson25/barbershop.sqlite
code/main course/Lesson25/test.sqlite
code/main course/Lesson26/Barbershop/public/users.txt
code/main course/Lesson26/Barbershop/barbershop.db
code/main course/Lesson26/Database output/barbershop.db
code/main course/Lesson27/Barbershop/barbershop.db
code/main course/Lesson28/leprosorium/leprosorium.db
code/main course/Lesson29/BarbershopHQ/barbershop.db
code/main course/Lesson29/BarbershopHQ/db/schema.rb
code/main course/Lesson30/BarbershopHQ/barbershop.db
