<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to Barbershop</h1>
    <p>We are open</p>
    <form action="/" method="POST">
      Your name:<br />
      <input type="text" name="user_name" /><br />
      Your phone:<br />
      <input type="text" name="phone" /><br />
      Date and time:<br />
      <input type="text" name="date_time" /><br />

      <input type="submit" />
    </form>
  </body>
</html>
