<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav>
<ul>
  <li><a href="/">Main page</a></li>
  <li><a href="/contacts">Contacts</a></li>
  <li><a href="/faq">FAQ</a></li>
  <li><a href="/something">Something</a></li>
</ul>
</nav>
        <h1>Welcome!</h1>
        <p>You login in system.</p>
</body>
</html>